In [12]:
import pandas as pd

data = {
    'Name':['Pavan','Kapil','Lalit','Ishan','Om'],
    'Age':[25, None,44,23,None],
    'Salary':[50000,60000,70000,None,None]
}

df =pd.DataFrame(data)
print("Original DataFrame")
print(df)


print(df.isnull().sum())
df_drop = df.dropna( )
print(df_drop)

df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Salary'].fillna(df['Salary'].mean(),inplace=True)
print(df)

Original DataFrame
    Name   Age   Salary
0  Pavan  25.0  50000.0
1  Kapil   NaN  60000.0
2  Lalit  44.0  70000.0
3  Ishan  23.0      NaN
4     Om   NaN      NaN
Name      0
Age       2
Salary    2
dtype: int64
    Name   Age   Salary
0  Pavan  25.0  50000.0
2  Lalit  44.0  70000.0
    Name        Age   Salary
0  Pavan  25.000000  50000.0
1  Kapil  30.666667  60000.0
2  Lalit  44.000000  70000.0
3  Ishan  23.000000  60000.0
4     Om  30.666667  60000.0

C:\Users\korat\AppData\Local\Temp\ipykernel_3396\419418583.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)
C:\Users\korat\AppData\Local\Temp\ipykernel_3396\419418583.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(),inplace=True)

In [9]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

df = pd.read_csv('sample_data.csv')

df_label = df.copy()

le =LabelEncoder()
df_label['Gender_Encoded'] = le.fit_transform(df_label['Gender'])
df_label['Passed_Encoded'] = le.fit_transform(df_label['Passed'])

"""print("\nLabel Encoded Data")
print(df_label[['Name','Gender','Gender_Encoded','Passed','Passed_Encoded']])"""

df_encoded=pd.get_dummies(df,columns=['City'])
print("\nOne-Hot Encoded Data(City)")
print(df_encoded)

One-Hot Encoded Data(City)
         Name  Gender Passed  City_Ahmedabad  City_Bengaluru  City_Chennai  \
0         Dev  Female     No            True           False         False
1       Kavya  Female     No           False           False         False
2      Simran  Female     No           False           False         False
3       Rohan  Female     No           False           False         False
4       Meera    Male     No           False           False         False
5   Siddharth    Male     No           False           False         False
6       Kavya    Male    Yes           False           False         False
7      Aditya  Female    Yes           False           False          True
8         Raj  Female    Yes           False           False         False
9      Simran  Female     No           False            True         False
10     Ananya  Female     No           False           False         False
11     Vikram    Male     No           False           False         False
12      Priya    Male     No           False           False         False
13     Aditya    Male    Yes           False            True         False
14        Raj  Female    Yes           False           False         False
15       Neha    Male     No           False           False         False
16     Ishita    Male    Yes           False           False         False
17       Riya  Female     No           False           False         False
18        Raj  Female    Yes           False           False          True
19      Aarav  Female    Yes           False           False         False
20     Ananya    Male     No           False           False         False

    City_Delhi  City_Hyderabad  City_Jaipur  City_Kolkata  City_Lucknow  \
0        False           False        False         False         False
1        False           False        False         False         False
2        False           False        False         False          True
3        False            True        False         False         False
4        False           False        False         False          True
5        False           False        False          True         False
6        False           False        False          True         False
7        False           False        False         False         False
8        False            True        False         False         False
9        False           False        False         False         False
10       False           False         True         False         False
11        True           False        False         False         False
12       False           False        False         False          True
13       False           False        False         False         False
14       False           False        False         False          True
15       False           False        False         False         False
16        True           False        False         False         False
17       False           False        False         False         False
18       False           False        False         False         False
19       False           False        False         False          True
20       False            True        False         False         False

    City_Mumbai  City_Pune
0         False      False
1         False       True
2         False      False
3         False      False
4         False      False
5         False      False
6         False      False
7         False      False
8         False      False
9         False      False
10        False      False
11        False      False
12        False      False
13        False      False
14        False      False
15         True      False
16        False      False
17         True      False
18        False      False
19        False      False
20        False      False